
body {
  background-color: gray;
  
}

h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
    color: purple;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  }

h3 {
  margin: 2%;
  font-size: 100%;
  font-family: serif;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}  

h2 {
  text-align: center;
  color: purple;
  font-size: 200%;
}